.auth-container{
    display: flex;
    justify-content: space-around;
    border:1px solid red;
    padding: 10px;
}
.auth-banner-container{
    display: none;
}
.auth-form-container{
    border:1px solid #1e3a8a;
    width: 100%;
}

@media(min-width: 576px){
    .auth-form-container{
        width: 480px;
    }
}
@media(min-width: 768px){
    .auth-form-container{
        width: 550px;
    }
}
@media(min-width: 1200px){
    .auth-banner-container{
        display: flex;
        flex-direction: column;
        border: 1px solid darkgreen;
    }
    .auth-form-container{
        width: 550px;
    }
}