.nav-main {
  height: 5rem;
  padding-left: 2.5rem;
}
.nav-logo {
  color: #fff;
}

.nav-logo:hover {
  /* color: aqua; */
}
.nav-logo-img {
  height: 60px;
  /* width: 60px; */
}
.nav-container-menu {
  display: flex;
  font-size: 1.125rem;
  width: 23.75rem;
  justify-content: space-between;
}

.nav-container-menu a {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
}

.nav-container-menu a::after {
  content: "";
  display: block;
  width: 0;
  background-color: #fff;
  height: 2px;
  transition: all ease 0.3s;
}
.nav-container-menu a:hover,
.nav-container-menu a.active {
  color: #fff;
}
.nav-container-menu a.active {
  font-weight: bold;
}
.nav-container-menu a:hover::after,
.nav-container-menu a.active::after {
  width: 100%;
}
