a {
  display: block;
}
.nav-main {
  min-height: 5rem;
  padding-left: 2.5rem;
}
.nav-logo {
  color: #fff;
}

.nav-logo:hover {
  /* color: aqua; */
}
.nav-logo-img {
  height: 50px;
}
.nav-container-menu {
  display: flex;
  font-size: 1.125rem;
  width: 23.75rem;
  justify-content: space-between;
}
.nav-container-menu li {
  /* border: 1px solid green; */
  width: max-content;
  height: max-content;
}
.nav-container-menu a {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  /* width: max-content; */
  /* border: 1px solid red; */
}

.nav-container-menu a::after {
  content: "";
  display: block;
  width: 0;
  background-color: #fff;
  height: 2px;
  transition: all ease 0.3s;
}
.nav-container-menu a:hover,
.nav-container-menu a.active {
  color: #fff;
}
.nav-container-menu a.active {
  font-weight: bold;
}
.nav-container-menu a:hover::after,
.nav-container-menu a.active::after {
  width: 100%;
}
.content-username-login-logout{
  display: flex;
  align-items: center;
  gap: 20px;
}
.container-login-logout,
.nav-username{
  display: none;
}
.nav-link{
  display: flex;
  align-items: center;
  gap: 5px;
}
.nav-link:hover .nav-link-icon{
  fill: coral;
}
@media(min-width:768px){
  .container-login-logout{
    color: #fff;
    margin-right: 13px;
    display: unset;
  }

}
@media(min-width:992px){
  .container-login-logout{

    margin-right: 40px;

  }
  .nav-username{
    display: flex;
    align-items: center;
    gap: 5px;
  }}