.product-crud-form-card{
    padding: 20px;
}
.product-crud-form-card-title{
    color: #263238;
    font-size: 22px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    margin-bottom: 30px;
}
.product-crud-form-card-form{

}
.product-crud-column-left-container{
    margin-bottom: 30px;

}
.product-crud-input:not(:last-child){
    margin-bottom: 30px;
}
/*remover*/
.margin-bottom-30{
    margin-bottom: 30px;
}
.product-crud-inputs-container{
    margin-bottom: 30px;
}
.product-crud-buttons-container{
    display: flex;
    justify-content: space-between;

}
.product-crud-button{
    text-transform: uppercase;
    width: 110px;
    height: 50px;
    border-radius: 10px;
    font-weight: bold;
}
@media (min-width: 576px) {
    .product-crud-buttons-container{
        justify-content: flex-end;
        gap: 30px;
    }
    .product-crud-button{
        width: 270px;
    }
}
@media (min-width: 992px) {
    .product-crud-column-left-container{
        margin-bottom: 0;
    }
}
