.product-search-container{
    padding: 15px;
    margin-bottom: 20px;
}
.product-filter-name-container{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #E1E1E1;
    padding: 10px;
    justify-content: space-between;
}
.product-filter-name-container input{
    border: none;
    outline: none;
}
.product-filter-name-container::placeholder{
    color: #9e9e9e;
}
@media(min-width:768px){
    .product-search-container{
        flex: 1;
        margin-bottom: 0;

    }
}