
.category-badge-container{
    height: 33px;
    background-color: #c4c4c4;
    padding: 7px;
    border-radius: 10px;
    color: #424242;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: -0.015em;
    text-align: center;
    margin-bottom: 13px;


}