
.product-crud-container{
    max-width: 1200px;
}
.btn-crud-add {
    width: 100%;
    height: 50px;
    border-radius: 10px;

    font-size: 1rem;
    font-weight: bold;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.product-search-container{
    padding: 15px;
    margin-bottom: 20px;
}
@media(min-width:768px){
 .product-crud-bar-container{
     display: flex;
     gap: 20px;
     margin: 20px 0 40px 0;
 }
    .btn-crud-add{
        height: 60px;
        margin-bottom: 0;
    }
    .product-search-container{
        flex: 1;
        margin-bottom: 0;

    }
}