.product-details-container{
    padding: 10px;
    color: #263238;
    font-size: 24px;
}

.product-details-card{
    padding: 10px;
}
.product-details-go-back,
.product-image-container,
.product-name-price-container{
    margin-bottom: 20px;
}


.product-details-go-back{
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}
.product-details-go-back h2,
.product-name-price-container h1,
.product-description-container h2,
.product-description-container p{
    letter-spacing: -0.015em;
}

.product-details-go-back h2{
    text-transform: uppercase;
    font-size: 1em;
}
.product-details-go-back svg{
    color: #407bff;
    transform: rotate(-180deg);
}
.product-image-container,
.product-description-container{
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    padding: 10px;
}
.product-image-container{
    text-align: center;

}
.product-image-container img{
    width: 80%;
}

.product-name-price-container h1{
    font-size: 1.1em;
}

.product-description-container h2,
.product-description-container p{
    color: #9e9e9e;

}
.product-description-container h2{
    font-size: 0.9em;
    margin-bottom: 20px;
}
.product-description-container{

}
.product-description-container p{
    font-size: 0.7em;
}

@media(min-width: 576px){
    .product-details-container{
        font-size: 30px;
    }
    .product-details-container,
    .product-details-card{
        padding: 20px;
    }

}
@media(min-width: 992px){
    .product-details-container{
        font-size: 36px;
    }
    .product-name-price-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .product-details-container,
    .product-details-card,
    .product-image-container,
    .product-description-container{
        padding: 40px;
    }
    .product-image-container img{
        width: 60%;
    }


}

@media(min-width: 1200px){
    .product-details-container{
        font-size: 30px;
    }
    .product-name-price-container{
        display: block;
    }
    .product-details-container,
    .product-details-card,
    .product-image-container,
    .product-description-container{
        padding: 35px;
    }
    .product-image-container img{
        width: auto;
        height: 230px;
    }
    .product-description-container{
        min-height: 302px;
    }


}
@media(min-width: 1400px){
    .product-details-container{
        font-size: 30px;
    }
    .product-name-price-container{
        display: block;
    }
    .product-details-container,
    .product-details-card,
    .product-image-container,
    .product-description-container{
        padding: 35px;
    }
    .product-image-container img{
        width: auto;
        height: 480px;
    }
    .product-description-container{
        min-height: 554px;
    }


}