$theme-colors: (
        "primary": #1e3a8a,
        "danger":#DF5753,
        "info":#06b6d4,
        "dark":#111827,
        "warning":#FFCA2C,
        "secondary":#5c636a,
        "light":#F9FAFB,
        "success":#157347,
);

$body-bg: #f2f2f2;
$body-color: #2563eb;

@import "~bootstrap/scss/bootstrap.scss";
